.top-bar {
  width: 100%;
  padding: 0;
  background-color: black;
}

nav {
  width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 7fr 2fr 1fr;
  grid-template-rows: 1fr;
}

nav > div {
  display: flex;
}

.pause {
  width: 30%;
  max-width: 200px;
}

.pairs-found {
  padding: 0;
  margin: 0 1rem;
  height: auto;
}

.pairs-found > * {
  padding: 0.6em 0;
  margin: 0;
}

.timer {
  display: flex;
}

.timer > * {
  padding: 0.6em 0;
  margin: 0;
}
